{# 
/** 
 * @file
 * Rendered data for specbee block content.
 * @see SpecbeeBlock::build().
#}

<ul class='clearfix menu'> 
        <li class="menu-item">
            <p>Country - {{ specbee_data.country }}</p>
        </li>
         <li class="menu-item">
             <p>City- {{ specbee_data.city }}</p>
        </li>
         <li class="menu-item">
            <p>Timezone-{{ specbee_data.timezone }}</p>
        </li>
        <li class="menu-item">
            <p>Date Time-{{ specbee_data.date }}</p>
        </li>
</ul>